* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 90vh;
  font-family: 'Lato', sans-serif;
  font-size: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
header {
  margin-bottom: 0.75rem;
}
header h2 {
  color: steelblue;
  margin-bottom: 0.5rem;
}
header p {
  margin-bottom: 0.25rem;
}
header p:last-child {
  color: gray;
}
main h3 {
  color: steelblue;
  margin-bottom: 0.5rem;
}
main p {
  margin-bottom: 0.25rem;
}
main p:last-child {
  margin-bottom: 0.25rem;
}
main ul {
  list-style-position: inside;
}
main .education-line {
  display: flex;
  justify-content: space-between;
}
main .education-line div:first-child {
  display: flex;
}
main .education-line div:first-child p:last-child {
  color: gray;
}
main .education-line div:last-child {
  color: gray;
}
main .education {
  margin-bottom: 0.75rem;
}
main .projects {
  margin-bottom: 0.75rem;
}
footer h3 {
  color: steelblue;
  margin-bottom: 0.5rem;
}
footer div {
  display: flex;
  justify-content: space-between;
}
footer p {
  margin-bottom: 0.25rem;
}
